.wiki {
  display: flex;
  flex-wrap: wrap;
}

.wiki .panel {
  min-width: 30rem;
  max-width: 38rem;
  margin: 1rem;
}

.card {
  border-color: none;
  border-radius: 0;
  box-shadow: 0.25rem 0.25rem 3px rgba(0, 0, 0, 0.15);
  transition: 250ms transform cubic-bezier(0.075, 0.82, 0.165, 1);
}

.card:hover {
  transform: scale(1.05);
}

.card .card-img-top {
  border-radius: 0;
}

.card .card-text {
  color: #adb5bd;
}

.card .author-image {
  width: 32px;
  height: 32px;
  border-radius: 5rem;
}

.card .card-footer {
  background: #332f2f;
  text-transform: uppercase;
}

.card.card-statistic .card-title {
  font-size: 2.5rem;
}

@media screen and (max-width: 575px) {
  .card {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    margin-top: -1rem;
    margin-bottom: -3rem;
  }
  .card:hover {
    transform: unset;
  }
}
